<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>School update</h1>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">School name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
        <div id="nameHelp" class="form-text">We can update only school that is already on our database.</div>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">School's address</label>
        <input type="text" class="form-control" id="address">
    </div>
    <div class="mb-3 form-check">
        <input type="text" class="form-check-input" id="phone">
        <label class="form-check-label" for="phone">School's phone number</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>